<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />

  <link href="https://cdn.ubicall.com/static/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
  <link href="https://cdn.ubicall.com/static/font-awesome/css/font-awesome.min.css" rel="stylesheet" />
  <link href="https://cdn.ubicall.com/static/ubicall/css/demo/widget/widget.css" rel="stylesheet" />



</head>
<body>
  <!-- MDiv -->
  <div id="MDiv">

  </div>
    <!-- endMDiv -->
  <!-- js -->

  <script src="https://cdn.ubicall.com/static/jquery/dist/jquery.min.js"></script>
  <script src="https://cdn.ubicall.com/static/jquery-mobile/js/jquery.mobile-1.4.5.min.js"></script>
 <script src="https://platform.ubicall.com/widget/callmanager.js"></script>
 <script src="https://platform.ubicall.com/widget/form.js"></script>
  <!-- js End -->

</body>

</html>
