<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <link href="http://cdn.ubicall.com/static/widget/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
  <link href="http://cdn.ubicall.com/static/widget/css/style-fonts.css" rel="stylesheet" />
  <link href="http://cdn.ubicall.com/static/widget/css/plist.css" rel="stylesheet" />
  <link href="http://cdn.ubicall.com/static/widget/animsition/dist/css/animsition.min.css" rel="stylesheet" />
</head>

<body>
  <!-- Header -->
  <div id="header">
    <a onClick="javascript:history.go(-1)">
      <i class="fa fa-chevron-left fa-left"></i>
    </a>
    <a href="MainScreen.html">
      <i class="fa fa-home fa-right"></i>
    </a>
    <h3 class='header'>
      <!-- your title here -->
    </h3>
  </div>
  <div class="animsition">
    <div id="pages">
      <!-- view content here -->
    </div>
  </div>
  <!-- Animsition End -->
  <!-- js -->
  <script src="http://cdn.ubicall.com/static/widget/jquery/dist/jquery.min.js"></script>
  <script src="http://cdn.ubicall.com/static/widget/animsition/dist/js/jquery.animsition.min"></script>
  <script src="http://cdn.ubicall.com/widget/js/cust.js"></script>
  <script src="http://cdn.ubicall.com/widget/callmanager.js"></script>
  <!-- js End -->
</body>

</html>
